body {
    background-color: #222;
    color: #eee;
    font-family: "Courier New", monospace;
}

form {
    background-color: #333;
    border: 2px dashed #ff9800;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 50px auto;
}

button {
    background-color: #ff9800;
    color: #222;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}
